/* // Body Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #3a6186, #89253e);
}

/* // Main Box */
.container{
    width: 380px;
    padding: 25px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.3);
    text-align: center;
    animation: fadeIn 0.8s ease;
}

@keyframes fadeIn{
    from{opacity: 0; transform: translateY(20px);}
    to{opacity: 1; transform: translateY(0);}
}

h2{
    color: #fff;
    margin-bottom: 20px;
    font-size: 28px;
}

/* // Input Box */
.input-box{
    margin-bottom: 20px;
    text-align: left;
}

label{
    color: #fff;
    font-size: 16px;
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

/* // Button */
button{
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background-color: #ffcc00;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: #e6b800;
}

/* // Result Text */
#result{
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
